footer 
	div.container
		div.col-12.col-6-l.no-padding
			h3 Unión Musical P.A.O.
			ul
				li Asociación Cultural Las Canales, Padules
				li Asociación Cultural Los Tres Caños, Almócita
				li Agrupación Musical Trémolo, Ohanes
		div.col-12.col-3-l.no-padding
			i.fa.fa-facebook-official
			i.fa.fa-google-plus-official
			i.fa.fa-twitter
		div.col-12.col-3-l.no-padding
			ul
				li &copy;2016
				li Aviso legal
				li Condiciones de uso
				li Política de cookies