mixin header(title, img)
	header.header(style="background-image: url('#{img}')")
		.container
			.row
				h1.col-12 #{title}

mixin header-home(title)
	header.header.header-home
		.container
			.row
				h1.col-12 #{title}