nav.main-nav
	.logo
		a(href="index.html")
			img(src="assets/img/logo.png" alt="Unión Musical PAO")
	ul.main-menu#main-menu
		li 
			a(href="index.html") Home
		li 
			a(href="um-pao.html") UM PAO
		li 
			a(href="proyectos.html") Proyectos
		li 
			a(href="unete.html") Únete
		li 
			a(href="contratacion.html") Contratación
		li 
			a(href="contacto.html") Contacto
		li 
			a(href="gallery.html") Galería
			
	button.toggle-menu#toggle-menu 
		i.fa.fa-bars
		i.fa.fa-times.hide