video {
	max-width: 100%;
	height: auto;
}

iframe {
	width: 100%;

}

.video-art, .video-yt {
	margin-bottom: $space_mod * 3;
}


.video-art-left, .video-yt-left {

}

.video-art-right {

}

.video-art-left {

}