include ../components/header

extends ../layout/layout.jade


block header
	+header('Galería', './assets/img/bg-header.jpg')

block breadcrumbs
	div.breadcrumbs
		small.container
			span 
				a(href="index.html") HOME
			| &nbsp;&gt;&nbsp;
			span GALERÍA

block main-content
	div.slideshow-container
		div.slide.fade
			img.gallery-img#img-1(src="./assets/img/gallery/gallery1.jpg")
		div.slide.fade
			img.gallery-img#img-2(src="./assets/img/gallery/gallery2.jpg")
		div.slide.fade
			img.gallery-img#img-3(src="./assets/img/gallery/gallery3.jpg")
		div.slide.fade
			img.gallery-img#img-4(src="./assets/img/gallery/gallery4.jpg")
		div.slide.fade
			img.gallery-img#img-5(src="./assets/img/gallery/gallery5.jpg")
		div.slide.fade
			img.gallery-img#img-6(src="./assets/img/gallery/gallery6.jpg")
		
		a.prev#prev &#10094;
		a.next#next &#10095;
	br
	div(style="text-align: center;")
		span.dot#dot-1
		span.dot#dot-2
		span.dot#dot-3
		span.dot#dot-4
		span.dot#dot-5
		span.dot#dot-6

	div.modal#modal
		i.close.fa.fa-times#close(onclick="document.getElementById('modal').style.display='none'")
		img.modal-content#modal-img
		div.modal-caption