include ../components/header
include ../components/sections
include ../components/video-article
include ../components/cards



extends ../layout/layout.jade

block header
	+header-home(headline)

block main-content
	+section-fl(firstSection.title, firstSection.text, firstSection.bigImg.src, firstSection.bigImg.alt, firstSection.smallImg.src, firstSection.smallImg.alt)

	section.videos
		+video-art-right(videosSection.videoFirst.title, videosSection.videoFirst.subtitle, videosSection.videoFirst.src)
		+video-yt-left(videosSection.videoSecond.title, videosSection.videoSecond.subtitle, videosSection.videoSecond.src)

	+section-sl(secondSection.title)
		block section-content
			each element in secondSection.content
				+card-simple(element.title, element.text)

	+section-cta(cta.text, cta.button.text, cta.button.href)