include ../components/header
include ../components/sections
include ../components/cards

extends ../layout/layout.jade

block header
	+header(header.headline, header.img)

block main-content
	+section-cards(enCurso.title)
		block en-curso
			+card-img-big-right(enCurso.content[0].title, enCurso.content[0].content, enCurso.content[0].imgSrc, enCurso.content[0].href)
			+card-img-big-right(enCurso.content[1].title, enCurso.content[1].content,enCurso.content[1].imgSrc, enCurso.content[1].href)

	+section-cards(anteriores.title)
		block anteriores
			each element in anteriores.content
				+card-img-small(element.title, element.imgSrc, element.href)
