// Custom Buttons
.btn-wrapper {
  padding-left: 15px;
  padding-right: 15px;
}

.btn {
  border: 0;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  background-color: $grey-light;
  line-height: normal;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  color: $black;
  display: inline-block;
  transition: all 0.3s;
  box-shadow: 2px 2px 5px darken($grey-light, 10%);
  &:hover, &:active { text-decoration: none; }
  &:hover { background: $color-main; color: $white}
}
.btn-primary {
  background-color: $color-main;
  color: $white;
   &:hover {
    background: $color-main-darker;
    // color: $black;
  }
}
.btn-secondary {
  // Add your styles here
}
.btn-cta {
  background-color: $color-contrast;

  &:hover {
    background: $color-contrast-darker;
    color: $black;
  }
}

.btn-submit {
  margin-top: $space_mod;
}