html
	//- block vars
	head
		title UM PAO - #{title}
		link(rel="stylesheet", href="styles.css")
	body
		include ../components/nav

		block header
		
		.main
			block main-content
		
		include ../components/footer